<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Floating labels example for Bootstrap</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/abc/floating-labels.css?{% now 'U' %}"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"
            integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>


<body>
<div id="test">

    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="72">
            <h1 class="h3 mb-3 font-weight-normal">Mysql Test</h1>
            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a
                    href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and
                Firefox.</a></p>
        </div>


        <div class="form-label-group">
            <input v-model="name" type="text" id="inputEmail" class="form-control" placeholder="Email address" required
                   autofocus>
            <label for="inputEmail">Name</label>
        </div>

        <div class="form-label-group">
            <input v-model="age" type="text" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Age</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> submit
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" @click.prevent="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
</div>
</body>
<script>
    var vm1 = new Vue({
        el: "#test",
        data: {
            name: '',
            age: ''


        },
        methods: {
            submit() {
                {#console.log(this.name);#}
                {#console.log(this.age);#}
                var csrf = $.cookie('csrftoken');
                {#console.log(csrf);#}
                axios.post('/submit/', {
                    'name': this.name,
                    'age': this.age
                }, {
                    headers: {
                        'X-CSRFTOKEN': csrf,
                    },
                },).then((data) => {
                        {#this.msg = data;#}
                        {#console.log(data);#}
                    this.name = '';
                    this.age = '';
                        // views中的设置 return JsonResponse({'name': 'OK'})
                        //传递的参数默认是Json形式

                    }
                );

            }
        }
    })
</script>
</html>
